.container {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  padding: 0 20px;
  padding-bottom: 10px;
  background-color: #333;

  .input {
    background-color: azure;
    width: 95%;
    height: 94px;
    margin: 20px;
    margin-bottom: 10px;
    outline: none;
    border: none;
  }

  .buttonsContainer {
    .div1 {
      display: grid;
      grid-template-columns: 25% 25% 25% 25%;
      margin: 12px;

      .button {
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        color: white;
        padding: 15.18% 35.02%;
        margin-right: 12px;
        border-radius: 10px;
        border: none;
        cursor: pointer;
      }

      .peach {
        background-color: rgb(184, 137, 165);
      }

      .green {
        background-color: rgba(104, 203, 142, 0.733);
      }
    }

    .div2 {
      display: grid;
      grid-template-columns: 20% 20% 20% 20% 20%;
      margin: 12px;

      .button {
        font-size: 16px;
        font-weight: bold;
        color: white;
        padding: 12px 22px;
        margin-right: 12px;
        border-radius: 9px;
        border: none;
        cursor: pointer;
      }

      .blue {
        background-color: rgb(116, 159, 182);
      }

      .grey {
        background-color: rgb(150, 150, 150);
      }

      .red {
        background-color: rgba(247, 127, 127, 0.952);
      }
    }
  }
}

/* IPhone SE */
@media only screen and (max-width: 375px) {
  .container {
    width: 300px;

    .buttonsContainer {
      width: 280px;

      .div1 {
        .button {
          padding: 15.18% 0.02%;
        }
      }

      .div2 {
        .button {
          padding: 15% 0.5%;
        }
      }
    }
  }
}

/* Iphone 12 Pro */
@media only screen and (min-width: 376px) and (max-width: 390px) {
  .container {
    width: 300px;

    .buttonsContainer {
      width: 280px;

      .div1 {
        .button {
          padding: 15.18% 0.02%;
        }
      }

      .div2 {
        .button {
          padding: 15% 0.5%;
        }
      }
    }
  }
}

/* Iphone XR */
@media only screen and (min-width: 391px) and (max-width: 414px) {
  .container {
    width: 350px;

    .buttonsContainer {
      width: 330px;

      .div1 {
        .button {
          padding: 15.18% 0.02%;
        }
      }

      .div2 {
        .button {
          padding: 15% 0.5%;
        }
      }
    }
  }
}

/* Iphone 14 Pro Max */
@media only screen and (min-width: 415px) and (max-width: 430px) {
  .container {
    width: 360px;

    .buttonsContainer {
      width: 340px;

      .div1 {
        .button {
          padding: 15.18% 0.02%;
        }
      }

      .div2 {
        .button {
          padding: 15% 0.5%;
        }
      }
    }
  }
}
